
This table indicates the results we have obtained with a Intel BSP **itl_generic** using the GNU compiler with C++03 and 64bit support selected.  
Other configurations are selectable, but have not been verified by Wind River.

| Library        |  Test Results     |  Notes                          | 
| -------------- | ----------------- | ---------------------------------------- | 
| Accumulators   | 
| Algorithum     | Pass  	    
| Align	         | 
| Array	         | Pass  
| ASIO	         | 
| Assert	     | Pass
| Atomic	     |  
| bimap	         | Pass
| bind	         | Pass  
| chrono	     | 
| circular buffer  | Pass 	
| concept check	   | -- | Not supported |
| config	     | 
| container	     | Pass
| context	     | Pass
| conversion	 | Pass
| convert	     | Pass
| core	         | Pass
| coroutine	     | Pass
| CRC	         | Pass
| date time	     | 
| detail	     | Pass
| disjoint sets	 | Pass
| dynamic bitsets  | Pass
| endian	     | Pass
| exception	     | Pass
| filesystem	 | 
| flyweight	     | 
| foreach	     | Pass
| format	     | Pass
| function	     | 
| functional	 | 
| functional types	| Pass
| fusion	     | Pass
| geometry	     | 
| GIL	         | 
| graph	         | 
| graph_parrellel   |  -- | Not Supported, requires MPI
| heap	         | Pass
| ICL	         | Pass
| integer	     | Pass
| interprocess	 | 
| intrusive	     | 
| IO	         | 
| iostream	     | 
| lambda	     | Pass
| lexical cast	 | 
| Locale	     | -- | Not Supported, requires supporting library
| local function    | Pass	
| log	         | 
| logic	         | Pass
| lockfree	     | 
| math	         | 
| move	         | Pass
| MPI	         | --  |  Not Supported, requires supporting library
| MPL	         | Pass
| MSM	         | Pass
| multi-array    | Pass	
| multi-index	 | Pass
| multiprecision | 
| optional	     | Pass
| parameter	     | --- |  Not Supported, requires Python
| phoenix	     | Pass
| polygon	     | Pass
| pool	         | 
| predef	     | Pass
| preprocessor	 | Pass
| program options  | 
| property map	 | Pass
| property tree	 | 
| proto 	     | 
| python	     | --- |  Not Supported, requires supporting library
| random	     | 
| range	         | 
| ratio	         | Pass
| rational	     | Pass
| regex	         | 
| scope exit     | 	
| serialization	 | 
| signals   	 | -- | Not Supported, depricated | 
| signals 2	     | 
| smart pointer	 | Pass
| sort	         | Pass
| spirit	     | 
| statechart	 | 
| static assert	 | Pass
| system	     | 
| test	         | 
| thread	     | 
| throw exception   |  Pass 	
| timer	         | 
| tokenizer	     | Pass
| TTI	         | 
| tuple	         | Pass
| type erasure   | Pass	
| type index     | --- |  Not Supported, for use with no RTTI	
| type traits    | 	
| typeof	     |  
| units	         | Pass
| unordered	     | Pass
| utility	     | Pass
| UUID	         | Pass
| varient	     | Pass
| xpressive	     | Pass
| wave 	         | --- | Not Supported, no embedded application
   
